// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2022 Lothar Waßmann <LW@KARO-electronics.de>
 *
 */

/dts-v1/;

/plugin/;

&{/chosen} {
	overlays {
		karo-panel-tm101jvhg32;
	};
};

&panel {
	label = "TM101JVHG32";
	width-mm = <217>;
	height-mm = <136>;
	status = "okay";

	panel-timing {
		clock-frequency = <62500000>;
		hactive = <1280>;
		vactive = <800>;
		hback-porch = <80>;
		hfront-porch = <80>;
		vback-porch = <12>;
		vfront-porch = <11>;
		hsync-len = <2>;
		vsync-len = <1>;
		hsync-active = <0>;
		vsync-active = <0>;
		de-active = <0>;
		pixelclk-active = <0>;
	};
};
